<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Put comma separated valid email id's in which you want to receive notification -->
    <add key="toEmailIdAddress" value="testautexpert@gmail.com,testautexpert@gmail.com" />
    <!--Put valid from gmail email ID from which you want to send email -->
    <add key="fromEmailIdAddress" value="testautexpert@gmail.com" />
    <!--Put your gmail ID password of above gmail id -->
    <add key="fromEmailIdPassword" value="AAAAAAAAAA" />
    <!--Refer Mapping.CSV file for your district id -->
    <add key="districtIDs" value="581,697" />
    <!--Below key is used to define how many iteration you want to run. Max value 2147483647-->
    <add key="apiHitIterations" value="2" />
    <!--Below key is used to define how many days you want to check availabilty, Max value 10 days-->
    <add key="NextNoOfDays" value="5" />
  </appSettings>
</configuration>